main
	.main-slider-block
		.main-slider
			.single-slide
				img(src="assets/images/slide1.jpg" alt="slide1")
				.container
					.row
						.col-xl-9
							.slider-info
								h1 
									| МЫ СТРОИМ ДОМА 
									br
									| В СТИЛЕ БАРНХАУС
								p Стильный, лаконичный дом завладевший сердцами людей по всему миру. Что же в стиле «barnhouse» такого привлекательного и почему стоит выбрать именно его?
								a.btn.btn-primary.btn-big Узнать больше
			.single-slide
				img(src="assets/images/slide2.jpg" alt="slide1")
				.container
					.row
						.col-xl-9
							.slider-info
								h1 
									| РАЗРАБОТКА ПРОЕКТА БЕСПЛАТНО 
									br
									| ПРИ ЗАКАЗЕ СТРОИТЕЛЬСТВА
								p Закажите строительство дома под ключ и получите бесплатный проект дома с возможностью изменить конфигурацию
								a.btn.btn-primary.btn-big Оставить заявку
			.single-slide
				img(src="assets/images/slide3.jpg" alt="slide1")
				.container
					.row
						.col-xl-9
							.slider-info
								h1 
									| ВЫ МОЖЕТЕ ПРИСЛАТЬ СОБСТВЕННЫЙ 
									br 
									| ЭСКИЗ ИЛИ ПРОЕКТ НА ПРОСЧЁТ
								p Мы можем изготовить проект дома по вашему эскизу или наброску, выполненному в ручную или же взятому из любого источника
								a.btn.btn-primary.btn-big Оставить заявку
	.benefits-block
		.container
			.row.align-items-center
				.col-12
					.block-title
						h2 ДОМ В СТИЛЕ БАРНХАУС, ЭТО
				.col-xxl-3.col-xl-4.col-sm-6
					.single-benefit-block
						h3 Стиль
						p Дома, построенны в минималистичном современном стиле, отличающиеся простотой и лаконичностью
					.single-benefit-block
						h3 Минимализм
						p Простая планировки в строгой геометрии — прямоугольник, квадрат. Это понравится тем, кто любит простоту и удобство
					.single-benefit-block
						h3 экологичность
						p Дома возводятся из дерева по каркасной технологии с использованием экологичных утеплителей
				.col-xxl-6.col-xl-4.text-center.d-none.d-xl-block
					img.benefits-img(src="assets/images/benefits.png" alt="")
				.col-xxl-3.col-xl-4.col-sm-6
					.single-benefit-block
						h3 Приемлемая стоимость
						p Технология и заводское производство позволяют получить низкую конечную стоимость за квадратный метр жилья
					.single-benefit-block
						h3 Высокие потолки
						p Потолок повторяет форму двускатной крыши. Конструктивная часть выступает в качестве элемента интерьера
					.single-benefit-block
						h3 Панорамное освещение
						p Этот современный архитектурный приём помогает в полной мере задействовать естественное освещение
	.about-block
		.container
			.row.align-items-center
				.col-12
					.block-title
						h2 О КОМПАНИИ
		img.about-img(src="assets/images/img1.jpg" alt="")
		.container
			.row.align-items-center
				.col-xl-4
				.col-xl-8
					.about-text
						p Наша компания эксперт в постройке домов бранхаус направления. Основная концепция этого стиля — это экологичность и минимализм в отделке и декоре. Использование свайного фундамента при строительстве делает его экономически выгодным. 
						p Вы можете выбрать любой готовый проект из галереи либо обсудить с нами другое планировочное решение постройки дома. Учитывая ваши пожелания, вы получите именно тот дом, о котором мечтали: современный, технологичный и стильный.
						p Обращайтесь в компанию «Alpen barn» — мы создадим проект и построим дом вашей мечты!
				.col-12
					.count-block
						.single-count
							span 10
							p.text-big лет наша компания в строительстве
						.single-count
							span 90
							p.text-big за столько дней мы построим ваш дом
						.single-count
							span 200
							p.text-big проектов и цен на любой вкус и бюджет
						.single-count
							span 100+
							p.text-big счастливых семей уже живут в наших домах
	.catalog-block
		.container
			.row.align-items-center
				.col-xxl-4.col-xl-5
					.block-title.mb-0
						h2 ПРОЕКТЫ И ЦЕНЫ
				.col-xxl-8.col-xl-7
					ul.nav.nav-pills#pills-tab(role="tablist")
						li.nav-item(role="presentation")
							button.nav-link.active#pills-all-tab(data-bs-toggle="pill" data-bs-target="#pills-all" type="button" role="tab" aria-controls="pills-all" aria-selected="true") Все
						li.nav-item(role="presentation")
							button.nav-link#pills-one-tab(data-bs-toggle="pill" data-bs-target="#pills-one" type="button" role="tab" aria-controls="pills-one" aria-selected="false") Одноэтажные
						li.nav-item(role="presentation")
							button.nav-link#pills-two-tab(data-bs-toggle="pill" data-bs-target="#pills-two" type="button" role="tab" aria-controls="pills-two" aria-selected="false") Двухэтажные
						li.nav-item(role="presentation")
							button.nav-link#pills-three-tab(data-bs-toggle="pill" data-bs-target="#pills-three" type="button" role="tab" aria-controls="pills-three" aria-selected="false") С мансардой
						li.nav-item(role="presentation")
							button.nav-link#pills-four-tab(data-bs-toggle="pill" data-bs-target="#pills-four" type="button" role="tab" aria-controls="pills-four" aria-selected="false") 25–150 кв.м
						li.nav-item(role="presentation")
							button.nav-link#pills-five-tab(data-bs-toggle="pill" data-bs-target="#pills-five" type="button" role="tab" aria-controls="pills-five" aria-selected="false") 150–300 кв.м
				.col-12
					.tab-content#pills-tabContent
						.tab-pane.fade.show.active#pills-all(role="tabpanel" aria-labelledby="pills-all-tab")
							.all-products.all-products-desktop
								.single-product
									a(href="#")
										img(src="assets/images/project.jpg" alt="")
										.product-info
											h3 Alpen barn 33
											.meta-data
												span 33 м²
												span 750 000 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project2.jpg" alt="")
										.product-info
											h3 Alpen barn 25
											.meta-data
												span 25 м²
												span 1 112 500 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project3.jpg" alt="")
										.product-info
											h3 Alpen barn 54
											.meta-data
												span 54.65 м²
												span 1 639 500 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project.jpg" alt="")
										.product-info
											h3 Alpen barn 48/35
											.meta-data
												span 83 м²
												span 1 912 000 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project.jpg" alt="")
										.product-info
											h3 Alpen barn 33
											.meta-data
												span 33 м²
												span 750 000 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project2.jpg" alt="")
										.product-info
											h3 Alpen barn 25
											.meta-data
												span 25 м²
												span 1 112 500 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project3.jpg" alt="")
										.product-info
											h3 Alpen barn 54
											.meta-data
												span 54.65 м²
												span 1 639 500 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project.jpg" alt="")
										.product-info
											h3 Alpen barn 48/35
											.meta-data
												span 83 м²
												span 1 912 000 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project.jpg" alt="")
										.product-info
											h3 Alpen barn 33
											.meta-data
												span 33 м²
												span 750 000 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project2.jpg" alt="")
										.product-info
											h3 Alpen barn 25
											.meta-data
												span 25 м²
												span 1 112 500 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project3.jpg" alt="")
										.product-info
											h3 Alpen barn 54
											.meta-data
												span 54.65 м²
												span 1 639 500 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project.jpg" alt="")
										.product-info
											h3 Alpen barn 48/35
											.meta-data
												span 83 м²
												span 1 912 000 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project.jpg" alt="")
										.product-info
											h3 Alpen barn 33
											.meta-data
												span 33 м²
												span 750 000 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project2.jpg" alt="")
										.product-info
											h3 Alpen barn 25
											.meta-data
												span 25 м²
												span 1 112 500 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project3.jpg" alt="")
										.product-info
											h3 Alpen barn 54
											.meta-data
												span 54.65 м²
												span 1 639 500 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project.jpg" alt="")
										.product-info
											h3 Alpen barn 48/35
											.meta-data
												span 83 м²
												span 1 912 000 ₽
											span.btn.btn-white Подробнее
							.all-products-wrapper
								.all-products.all-products-tablet(style="width:3472px;")
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 33
												.meta-data
													span 33 м²
													span 750 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project2.jpg" alt="")
											.product-info
												h3 Alpen barn 25
												.meta-data
													span 25 м²
													span 1 112 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project3.jpg" alt="")
											.product-info
												h3 Alpen barn 54
												.meta-data
													span 54.65 м²
													span 1 639 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 48/35
												.meta-data
													span 83 м²
													span 1 912 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 33
												.meta-data
													span 33 м²
													span 750 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project2.jpg" alt="")
											.product-info
												h3 Alpen barn 25
												.meta-data
													span 25 м²
													span 1 112 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project3.jpg" alt="")
											.product-info
												h3 Alpen barn 54
												.meta-data
													span 54.65 м²
													span 1 639 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 48/35
												.meta-data
													span 83 м²
													span 1 912 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 33
												.meta-data
													span 33 м²
													span 750 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project2.jpg" alt="")
											.product-info
												h3 Alpen barn 25
												.meta-data
													span 25 м²
													span 1 112 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project3.jpg" alt="")
											.product-info
												h3 Alpen barn 54
												.meta-data
													span 54.65 м²
													span 1 639 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 48/35
												.meta-data
													span 83 м²
													span 1 912 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 33
												.meta-data
													span 33 м²
													span 750 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project2.jpg" alt="")
											.product-info
												h3 Alpen barn 25
												.meta-data
													span 25 м²
													span 1 112 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project3.jpg" alt="")
											.product-info
												h3 Alpen barn 54
												.meta-data
													span 54.65 м²
													span 1 639 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 48/35
												.meta-data
													span 83 м²
													span 1 912 000 ₽
												span.btn.btn-white Подробнее
								.all-products.all-products-mobile(style="width:1184px;")
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 33
												.meta-data
													span 33 м²
													span 750 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project2.jpg" alt="")
											.product-info
												h3 Alpen barn 25
												.meta-data
													span 25 м²
													span 1 112 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project3.jpg" alt="")
											.product-info
												h3 Alpen barn 54
												.meta-data
													span 54.65 м²
													span 1 639 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 48/35
												.meta-data
													span 83 м²
													span 1 912 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 33
												.meta-data
													span 33 м²
													span 750 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project2.jpg" alt="")
											.product-info
												h3 Alpen barn 25
												.meta-data
													span 25 м²
													span 1 112 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project3.jpg" alt="")
											.product-info
												h3 Alpen barn 54
												.meta-data
													span 54.65 м²
													span 1 639 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 48/35
												.meta-data
													span 83 м²
													span 1 912 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 33
												.meta-data
													span 33 м²
													span 750 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project2.jpg" alt="")
											.product-info
												h3 Alpen barn 25
												.meta-data
													span 25 м²
													span 1 112 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project3.jpg" alt="")
											.product-info
												h3 Alpen barn 54
												.meta-data
													span 54.65 м²
													span 1 639 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 48/35
												.meta-data
													span 83 м²
													span 1 912 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 33
												.meta-data
													span 33 м²
													span 750 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project2.jpg" alt="")
											.product-info
												h3 Alpen barn 25
												.meta-data
													span 25 м²
													span 1 112 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project3.jpg" alt="")
											.product-info
												h3 Alpen barn 54
												.meta-data
													span 54.65 м²
													span 1 639 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 48/35
												.meta-data
													span 83 м²
													span 1 912 000 ₽
												span.btn.btn-white Подробнее
						.tab-pane.fade#pills-one(role="tabpanel" aria-labelledby="pills-one-tab")
							.all-products.all-products-desktop
								.single-product
									a(href="#")
										img(src="assets/images/project.jpg" alt="")
										.product-info
											h3 Alpen barn 33
											.meta-data
												span 33 м²
												span 750 000 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project2.jpg" alt="")
										.product-info
											h3 Alpen barn 25
											.meta-data
												span 25 м²
												span 1 112 500 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project3.jpg" alt="")
										.product-info
											h3 Alpen barn 54
											.meta-data
												span 54.65 м²
												span 1 639 500 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project.jpg" alt="")
										.product-info
											h3 Alpen barn 48/35
											.meta-data
												span 83 м²
												span 1 912 000 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project.jpg" alt="")
										.product-info
											h3 Alpen barn 33
											.meta-data
												span 33 м²
												span 750 000 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project2.jpg" alt="")
										.product-info
											h3 Alpen barn 25
											.meta-data
												span 25 м²
												span 1 112 500 ₽
											span.btn.btn-white Подробнее
							.all-products-wrapper
								.all-products.all-products-tablet(style="width:1302px;")
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 33
												.meta-data
													span 33 м²
													span 750 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project2.jpg" alt="")
											.product-info
												h3 Alpen barn 25
												.meta-data
													span 25 м²
													span 1 112 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project3.jpg" alt="")
											.product-info
												h3 Alpen barn 54
												.meta-data
													span 54.65 м²
													span 1 639 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 48/35
												.meta-data
													span 83 м²
													span 1 912 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 33
												.meta-data
													span 33 м²
													span 750 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project2.jpg" alt="")
											.product-info
												h3 Alpen barn 25
												.meta-data
													span 25 м²
													span 1 112 500 ₽
												span.btn.btn-white Подробнее
								.all-products.all-products-mobile(style="width:444px;")
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 33
												.meta-data
													span 33 м²
													span 750 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project2.jpg" alt="")
											.product-info
												h3 Alpen barn 25
												.meta-data
													span 25 м²
													span 1 112 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project3.jpg" alt="")
											.product-info
												h3 Alpen barn 54
												.meta-data
													span 54.65 м²
													span 1 639 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 48/35
												.meta-data
													span 83 м²
													span 1 912 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 33
												.meta-data
													span 33 м²
													span 750 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project2.jpg" alt="")
											.product-info
												h3 Alpen barn 25
												.meta-data
													span 25 м²
													span 1 112 500 ₽
												span.btn.btn-white Подробнее
						.tab-pane.fade#pills-two(role="tabpanel" aria-labelledby="pills-two-tab")
							.all-products.all-products-desktop
								.single-product
									a(href="#")
										img(src="assets/images/project.jpg" alt="")
										.product-info
											h3 Alpen barn 33
											.meta-data
												span 33 м²
												span 750 000 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project2.jpg" alt="")
										.product-info
											h3 Alpen barn 25
											.meta-data
												span 25 м²
												span 1 112 500 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project3.jpg" alt="")
										.product-info
											h3 Alpen barn 54
											.meta-data
												span 54.65 м²
												span 1 639 500 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project.jpg" alt="")
										.product-info
											h3 Alpen barn 48/35
											.meta-data
												span 83 м²
												span 1 912 000 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project.jpg" alt="")
										.product-info
											h3 Alpen barn 33
											.meta-data
												span 33 м²
												span 750 000 ₽
											span.btn.btn-white Подробнее
							.all-products-wrapper
								.all-products.all-products-tablet(style="width:1302px;")
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 33
												.meta-data
													span 33 м²
													span 750 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project2.jpg" alt="")
											.product-info
												h3 Alpen barn 25
												.meta-data
													span 25 м²
													span 1 112 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project3.jpg" alt="")
											.product-info
												h3 Alpen barn 54
												.meta-data
													span 54.65 м²
													span 1 639 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 48/35
												.meta-data
													span 83 м²
													span 1 912 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 33
												.meta-data
													span 33 м²
													span 750 000 ₽
												span.btn.btn-white Подробнее
								.all-products.all-products-mobile(style="width:444px;")
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 33
												.meta-data
													span 33 м²
													span 750 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project2.jpg" alt="")
											.product-info
												h3 Alpen barn 25
												.meta-data
													span 25 м²
													span 1 112 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project3.jpg" alt="")
											.product-info
												h3 Alpen barn 54
												.meta-data
													span 54.65 м²
													span 1 639 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 48/35
												.meta-data
													span 83 м²
													span 1 912 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 33
												.meta-data
													span 33 м²
													span 750 000 ₽
												span.btn.btn-white Подробнее
						.tab-pane.fade#pills-three(role="tabpanel" aria-labelledby="pills-three-tab")
							.all-products.all-products-desktop
								.single-product
									a(href="#")
										img(src="assets/images/project.jpg" alt="")
										.product-info
											h3 Alpen barn 33
											.meta-data
												span 33 м²
												span 750 000 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project2.jpg" alt="")
										.product-info
											h3 Alpen barn 25
											.meta-data
												span 25 м²
												span 1 112 500 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project3.jpg" alt="")
										.product-info
											h3 Alpen barn 54
											.meta-data
												span 54.65 м²
												span 1 639 500 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project.jpg" alt="")
										.product-info
											h3 Alpen barn 48/35
											.meta-data
												span 83 м²
												span 1 912 000 ₽
											span.btn.btn-white Подробнее
							.all-products-wrapper
								.all-products.all-products-tablet(style="width:868px;")
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 33
												.meta-data
													span 33 м²
													span 750 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project2.jpg" alt="")
											.product-info
												h3 Alpen barn 25
												.meta-data
													span 25 м²
													span 1 112 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project3.jpg" alt="")
											.product-info
												h3 Alpen barn 54
												.meta-data
													span 54.65 м²
													span 1 639 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 48/35
												.meta-data
													span 83 м²
													span 1 912 000 ₽
												span.btn.btn-white Подробнее
								.all-products.all-products-mobile(style="width:296px;")
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 33
												.meta-data
													span 33 м²
													span 750 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project2.jpg" alt="")
											.product-info
												h3 Alpen barn 25
												.meta-data
													span 25 м²
													span 1 112 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project3.jpg" alt="")
											.product-info
												h3 Alpen barn 54
												.meta-data
													span 54.65 м²
													span 1 639 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 48/35
												.meta-data
													span 83 м²
													span 1 912 000 ₽
												span.btn.btn-white Подробнее
						.tab-pane.fade#pills-four(role="tabpanel" aria-labelledby="pills-four-tab")
							.all-products.all-products-desktop
								.single-product
									a(href="#")
										img(src="assets/images/project.jpg" alt="")
										.product-info
											h3 Alpen barn 33
											.meta-data
												span 33 м²
												span 750 000 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project2.jpg" alt="")
										.product-info
											h3 Alpen barn 25
											.meta-data
												span 25 м²
												span 1 112 500 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project3.jpg" alt="")
										.product-info
											h3 Alpen barn 54
											.meta-data
												span 54.65 м²
												span 1 639 500 ₽
											span.btn.btn-white Подробнее
							.all-products-wrapper
								.all-products.all-products-tablet(style="width:868px;")
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 33
												.meta-data
													span 33 м²
													span 750 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project2.jpg" alt="")
											.product-info
												h3 Alpen barn 25
												.meta-data
													span 25 м²
													span 1 112 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project3.jpg" alt="")
											.product-info
												h3 Alpen barn 54
												.meta-data
													span 54.65 м²
													span 1 639 500 ₽
												span.btn.btn-white Подробнее
								.all-products.all-products-mobile(style="width:296px;")
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 33
												.meta-data
													span 33 м²
													span 750 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project2.jpg" alt="")
											.product-info
												h3 Alpen barn 25
												.meta-data
													span 25 м²
													span 1 112 500 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project3.jpg" alt="")
											.product-info
												h3 Alpen barn 54
												.meta-data
													span 54.65 м²
													span 1 639 500 ₽
												span.btn.btn-white Подробнее
						.tab-pane.fade#pills-five(role="tabpanel" aria-labelledby="pills-five-tab")
							.all-products.all-products-desktop
								.single-product
									a(href="#")
										img(src="assets/images/project.jpg" alt="")
										.product-info
											h3 Alpen barn 33
											.meta-data
												span 33 м²
												span 750 000 ₽
											span.btn.btn-white Подробнее
								.single-product
									a(href="#")
										img(src="assets/images/project2.jpg" alt="")
										.product-info
											h3 Alpen barn 25
											.meta-data
												span 25 м²
												span 1 112 500 ₽
											span.btn.btn-white Подробнее
							.all-products-wrapper
								.all-products.all-products-tablet(style="width:434px;")
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 33
												.meta-data
													span 33 м²
													span 750 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project2.jpg" alt="")
											.product-info
												h3 Alpen barn 25
												.meta-data
													span 25 м²
													span 1 112 500 ₽
												span.btn.btn-white Подробнее
								.all-products.all-products-mobile(style="width:148px;")
									.single-product
										a(href="#")
											img(src="assets/images/project.jpg" alt="")
											.product-info
												h3 Alpen barn 33
												.meta-data
													span 33 м²
													span 750 000 ₽
												span.btn.btn-white Подробнее
									.single-product
										a(href="#")
											img(src="assets/images/project2.jpg" alt="")
											.product-info
												h3 Alpen barn 25
												.meta-data
													span 25 м²
													span 1 112 500 ₽
												span.btn.btn-white Подробнее									
	.accordion-block
		.container
			.row.align-items-center
				.col-xl-4
					.block-title.mb-0
						h2 комплектация
				.col-xl-8
					ul.nav.nav-pills#pills-2-tab(role="tablist")
						li.nav-item(role="presentation")
							button.nav-link.active#pills-otd-tab(data-bs-toggle="pill" data-bs-target="#pills-otd" type="button" role="tab" aria-controls="pills-otd" aria-selected="true") Под отделку
						li.nav-item(role="presentation")
							button.nav-link#pills-key-tab(data-bs-toggle="pill" data-bs-target="#pills-key" type="button" role="tab" aria-controls="pills-key" aria-selected="false") Под ключ
				.col-12
					.tab-content#pills-2-tabContent
						.tab-pane.fade.show.active#pills-otd(role="tabpanel" aria-labelledby="pills-otd-tab")
							.accordion.accordion-flush#accordion1
								.accordion-item
									h2.accordion-header#flush-heading1
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse1" aria-expanded="false" aria-controls="flush-collapse1") Подготовительные работы
									.accordion-collapse.collapse#flush-collapse1(aria-labelledby="flush-heading1" data-bs-parent="#accordion1")
										.accordion-body
											ul
												li Разработка индивидуального проекта
												li Подготовка комплекта документов для согласования в БТИ
												li Предварительный выезд инженера на строительный объект
												li Пробное бурение фундамента в 3-х точках
								.accordion-item
									h2.accordion-header#flush-heading2
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapse2") фундамент на Забивных ЖБ сваях
									.accordion-collapse.collapse#flush-collapse2(aria-labelledby="flush-heading2" data-bs-parent="#accordion1")
										.accordion-body
											ul
												li Сваи железобетонные заводского изготовления, ГОСТ Р 19804-2012
												li Размер ЖБ сваи 150х150х3000 мм
												li Армирование 10 мм, бетон марки М300  B22,5)
												li от 15 до 30 тонн вертикальной нагрузки на сваю
												li Монтаж фундамента за 2 дня
											.d-flex
												img(src="assets/images/finishing/img1.png" alt="")
												ol
													li Стальной оголовок на металлических болтах
													li Арматура 10 мм, бетон М300, h=3000мм
								.accordion-item
									h2.accordion-header#flush-heading3
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse3") Ввод комуникаций в дом
									.accordion-collapse.collapse#flush-collapse3(aria-labelledby="flush-heading3" data-bs-parent="#accordion1")
										.accordion-body
											ul
												li Ввод закладных труб D110мм для подключения к септику (ЦК) и скважину/колодцу (ЦВ)
												li Укладка и монтаж гильз для ввода коммуникаций в дом (водоснабжение, канализация)
								.accordion-item
									h2.accordion-header#flush-heading4
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4") Домокомплект
									.accordion-collapse.collapse#flush-collapse4(aria-labelledby="flush-heading4" data-bs-parent="#accordion1")
										.accordion-body
											ul
												li 2,7м, высота
												li 1-го этажа
												li 2,6м, высота
												li 2-го этажа
												li Обвязка каркаса: брус 150*200 мм
												li Стойки каркаса из строганной доски камерной сушки
												li (14–18% влажность), 1 сорта, 150*50 мм
												li Шаг стоек не более 580 мм, с использованием усиленной крепёжной системы и дополнительной защитой каркаса от «мостиков холода»
												li Монтаж горизонтального бруска 50*50 мм под дополнительное перекрёстное утепление стен изнутри
											.d-flex
												img(src="assets/images/finishing/img2.png" alt="")
												ol
													li Гидроизоляция (дифузионная мембрана)
													li Каркас камерной сушки
													li Вентфасад
													li Утеплитель базальтовый 200мм
													li Утеплитель базальтовый 200мм
													li Утеплитель базальтовый 200мм
													li Влагостойкая фанера 18мм
													li Пароизоляция
													li Черновой пол
											.d-flex.align-items-center
												img(src="assets/images/finishing/img3.png" alt="")
												p Оцинкованный спецкрепеж с двойным усилением
											.d-flex.align-items-center
												img(src="assets/images/finishing/img4.png" alt="")
												p Силовые элементы из дерева антисептируются биозащитным составом Neomid 430ECO
								.accordion-item
									h2.accordion-header#flush-heading5
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5") межэтажные перекрытия
									.accordion-collapse.collapse#flush-collapse5(aria-labelledby="flush-heading5" data-bs-parent="#accordion1")
										.accordion-body
											ul
												li Лаги цокольного перекрытия усиленные из бруса, сечением 50*200 мм, с шагом не более 580 мм
												li Лаги межэтажного перекрытия усиленные из доски камерной сушки (влажность 14–18%), сечением 50*200 мм, с шагом не более 580 мм
								.accordion-item
									h2.accordion-header#flush-heading6
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse6" aria-expanded="false" aria-controls="flush-collapse6") Кровля крыши
									.accordion-collapse.collapse#flush-collapse6(aria-labelledby="flush-heading6" data-bs-parent="#accordion1")
										.accordion-body
											ul
												li 1класс оцинковки
												li 20 см утепления
												li Гарантия 15 лет
												li Тишина в доме
												li Металлочерепица покрытая полиэстером. Первый класс цинкования — 275 г/кв.м. Толщина стали: 0,5 мм. Цвета в ассортименте
												li Усиленная стропильная система из доски 200*50 мм, 1 сорта, с шагом 580 мм
												li Гидроизоляция: гидро-ветрозащитная диффузионная мембрана: Jutavek 115
												li Подшивка карнизов кровли перфорированными панелями (софитами) Docke
												li Водосточная система Docke
											.d-flex
												img(src="assets/images/finishing/img5.png" alt="")
												ol
													li Гидроизоляция Jutavek 115 производства Чехии
													li Металлочерепица 0,5 мм
													li Утепление минеральной ватой 200 мм
													li Обрешётка
													li Пароизоляционная мембрана Jutafol H96 производства Чехии
													li Стропила из усиленной доски сечением 50*200 мм
								.accordion-item
									h2.accordion-header#flush-heading7
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse7" aria-expanded="false" aria-controls="flush-collapse7") Тепло- и шумоизоляция
									.accordion-collapse.collapse#flush-collapse7(aria-labelledby="flush-heading7" data-bs-parent="#accordion1")
										.accordion-body
											ul
												li Наружные стены: экологически чистый плитный базальтовый утеплитель Paroc EXTRA или ROCKWOOL ЛАЙТ БАТТС в 4 слоя (150 мм + 50 мм) с применением перекрёстного утепления
												li Межкомнатные перегородки и межэтажное перекрытие: экологически чистый плитный базальтовый утеплитель Paroc EXTRA или ROCKWOOL ЛАЙТ БАТТС в 2 слоя (100 мм)
												li Полы первого этажа: экологически чистый плитный базальтовый утеплитель Paroc EXTRA или ROCKWOOL ЛАЙТ БАТТС в 4 слоя (200 мм)
												li Чердачное перекрытие: экологически чистый плитный базальтовый утеплитель Paroc EXTRA или ROCKWOOL ЛАЙТ БАТТС в 4 слоя (200 мм)
								.accordion-item
									h2.accordion-header#flush-heading8
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse8" aria-expanded="false" aria-controls="flush-collapse8") Наружная отделка фасада
									.accordion-collapse.collapse#flush-collapse8(aria-labelledby="flush-heading8" data-bs-parent="#accordion1")
										.accordion-body
											ul
												li Шаговая обрешётка фасада, доска естественной влажности 25х100мм шаг по осям 400мм
												li Вентилируемый фасад: контробрешетка из бруса 35*35 мм
								.accordion-item
									h2.accordion-header#flush-heading9
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse9" aria-expanded="false" aria-controls="flush-collapse9") Внутренняя отделка стен
									.accordion-collapse.collapse#flush-collapse9(aria-labelledby="flush-heading9" data-bs-parent="#accordion1")
										.accordion-body
											ul
												li Пароизоляционная плёнка Ютафол Н96 Сильвер с двух сторон
								.accordion-item
									h2.accordion-header#flush-heading10
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse10" aria-expanded="false" aria-controls="flush-collapse10") Полы и потолки
									.accordion-collapse.collapse#flush-collapse10(aria-labelledby="flush-heading10" data-bs-parent="#accordion1")
										.accordion-body
											ul
												li Обвязка брус 150 мм (на сваи) - 25 мм обшивка + сетка — доска 200 мм — утеплитель Роквул 200 мм — плёнки — плиточный материал либо шпунтованная доска
												li Шаговая обрешётка, доска 25х100мм, шаг 400мм
								.accordion-item
									h2.accordion-header#flush-heading11
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse11" aria-expanded="false" aria-controls="flush-collapse11") Оконные конструкции
									.accordion-collapse.collapse#flush-collapse11(aria-labelledby="flush-heading11" data-bs-parent="#accordion1")
										.accordion-body
											ul
												li Оконные конструкции ПВХ REHAU Grazio, стандартных размеров. Толщина профиля 70 мм
												li 2-х камерный стеклопакет (3 стекла), 5-ти камерный профиль (цвет белый), противомоскитные сетки
												li Фурнитура: ROTO NT
												li Монтаж металлических оцинкованных подоконных отливов (цвет белый)
												li Установка ПВХ подоконников шириной 300 мм
												li Отделка оконных проёмов
												li Поворотно-откидная фурнитура
												li Москитная сетка
											.d-flex
												img(src="assets/images/finishing/img6.png" alt="")
												ol
													li Антимоскитная сетка
													li Двухкамерный стеклопакет
													li Поворотно-откидная фурнитура
													li Подоконные отливы
								.accordion-item
									h2.accordion-header#flush-heading12
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse12" aria-expanded="false" aria-controls="flush-collapse12") Входные и межкомнатные Двери
									.accordion-collapse.collapse#flush-collapse12(aria-labelledby="flush-heading12" data-bs-parent="#accordion1")
										.accordion-body
											ul
												li Входная металлическая дверь с зимним утеплением. Производство: Россия
												li 4-й класс взломостойкости. Толщина металла 1,5 мм, замковая часть 3 мм
											.d-flex
												img(src="assets/images/finishing/img7.png" alt="")
												ol
													li Пробковый слой из коры дуба
													li Термоотражающий слой фольги в центре — эффект термоса
													li Высокая шумоизоляция
													li Профиль полотна 85 мм
								.accordion-item
									h2.accordion-header#flush-heading13
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse13" aria-expanded="false" aria-controls="flush-collapse13") Межэтажная лестница
									.accordion-collapse.collapse#flush-collapse13(aria-labelledby="flush-heading13" data-bs-parent="#accordion1")
										.accordion-body
											ul 
												li Монтаж лестницы
								.accordion-item
									h2.accordion-header#flush-heading14
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse14" aria-expanded="false" aria-controls="flush-collapse14") Поэтапная оплата
									.accordion-collapse.collapse#flush-collapse14(aria-labelledby="flush-heading14" data-bs-parent="#accordion1")
										.accordion-body
											ul
												li 60% — после подписания
												li 20% — примерно через 1–2 месяца
												li 20% — через 2–3 месяца с момента подписания договора подряда
								.accordion-item
									h2.accordion-header#flush-heading15
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse15" aria-expanded="false" aria-controls="flush-collapse15") Доставка
									.accordion-collapse.collapse#flush-collapse15(aria-labelledby="flush-heading15" data-bs-parent="#accordion1")
										.accordion-body
											ul 
												li Доставка по ЛО до 100 км от СПб
								.accordion-item
									h2.accordion-header#flush-heading16
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse16" aria-expanded="false" aria-controls="flush-collapse16") Гарантия
									.accordion-collapse.collapse#flush-collapse16(aria-labelledby="flush-heading16" data-bs-parent="#accordion1")
										.accordion-body
											ul 
												li 10 лет гарантия
						.tab-pane.fade#pills-key(role="tabpanel" aria-labelledby="pills-key-tab")
							.accordion.accordion-flush#accordion2
								.accordion-item
									h2.accordion-header#flush-heading-1
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-1" aria-expanded="false" aria-controls="flush-collapse-1") Подготовительные работы
									.accordion-collapse.collapse#flush-collapse-1(aria-labelledby="flush-heading-1" data-bs-parent="#accordion2")
										.accordion-body
											ul
												li Разработка индивидуального проекта
												li Подготовка комплекта документов для согласования в БТИ
												li Предварительный выезд инженера на строительный объект
												li Пробное бурение фундамента в 3-х точках
								.accordion-item
									h2.accordion-header#flush-heading-2
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-2" aria-expanded="false" aria-controls="flush-collapse-2") фундамент на Забивных ЖБ сваях
									.accordion-collapse.collapse#flush-collapse-2(aria-labelledby="flush-heading-2" data-bs-parent="#accordion2")
										.accordion-body
											ul
												li Сваи железобетонные заводского изготовления, ГОСТ Р 19804-2012
												li Размер ЖБ сваи 150х150х3000 мм
												li Армирование 10 мм, бетон марки М300  B22,5)
												li от 15 до 30 тонн вертикальной нагрузки на сваю
												li Монтаж фундамента за 2 дня
											.d-flex
												img(src="assets/images/finishing/img1.png" alt="")
												ol
													li Стальной оголовок на металлических болтах
													li Арматура 10 мм, бетон М300, h=3000мм
								.accordion-item
									h2.accordion-header#flush-heading-3
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-3" aria-expanded="false" aria-controls="flush-collapse-3") Ввод комуникаций в дом
									.accordion-collapse.collapse#flush-collapse-3(aria-labelledby="flush-heading-3" data-bs-parent="#accordion2")
										.accordion-body
											ul
												li Ввод закладных труб D110мм для подключения к септику (ЦК) и скважину/колодцу (ЦВ)
												li Укладка и монтаж гильз для ввода коммуникаций в дом (водоснабжение, канализация)
								.accordion-item
									h2.accordion-header#flush-heading-4
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-4" aria-expanded="false" aria-controls="flush-collapse-4") Домокомплект
									.accordion-collapse.collapse#flush-collapse-4(aria-labelledby="flush-heading-4" data-bs-parent="#accordion2")
										.accordion-body
											ul
												li 2,7м, высота
												li 1-го этажа
												li 2,6м, высота
												li 2-го этажа
												li Обвязка каркаса: брус 150*200 мм
												li Стойки каркаса из строганной доски камерной сушки
												li (14–18% влажность), 1 сорта, 150*50 мм
												li Шаг стоек не более 580 мм, с использованием усиленной крепёжной системы и дополнительной защитой каркаса от «мостиков холода»
												li Монтаж горизонтального бруска 50*50 мм под дополнительное перекрёстное утепление стен изнутри
											.d-flex
												img(src="assets/images/finishing/img2.png" alt="")
												ol
													li Гидроизоляция (дифузионная мембрана)
													li Каркас камерной сушки
													li Вентфасад
													li Утеплитель базальтовый 200мм
													li Утеплитель базальтовый 200мм
													li Утеплитель базальтовый 200мм
													li Влагостойкая фанера 18мм
													li Пароизоляция
													li Черновой пол
											.d-flex.align-items-center
												img(src="assets/images/finishing/img3.png" alt="")
												p Оцинкованный спецкрепеж с двойным усилением
											.d-flex.align-items-center
												img(src="assets/images/finishing/img4.png" alt="")
												p Силовые элементы из дерева антисептируются биозащитным составом Neomid 430ECO
								.accordion-item
									h2.accordion-header#flush-heading-5
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-5" aria-expanded="false" aria-controls="flush-collapse-5") межэтажные перекрытия
									.accordion-collapse.collapse#flush-collapse-5(aria-labelledby="flush-heading-5" data-bs-parent="#accordion2")
										.accordion-body
											ul
												li Лаги цокольного перекрытия усиленные из бруса, сечением 50*200 мм, с шагом не более 580 мм
												li Лаги межэтажного перекрытия усиленные из доски камерной сушки (влажность 14–18%), сечением 50*200 мм, с шагом не более 580 мм
								.accordion-item
									h2.accordion-header#flush-heading-6
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-6" aria-expanded="false" aria-controls="flush-collapse-6") Кровля крыши
									.accordion-collapse.collapse#flush-collapse-6(aria-labelledby="flush-heading-6" data-bs-parent="#accordion2")
										.accordion-body
											ul
												li 1класс оцинковки
												li 20 см утепления
												li Гарантия 15 лет
												li Тишина в доме
												li Металлочерепица покрытая полиэстером. Первый класс цинкования — 275 г/кв.м. Толщина стали: 0,5 мм. Цвета в ассортименте
												li Усиленная стропильная система из доски 200*50 мм, 1 сорта, с шагом 580 мм
												li Гидроизоляция: гидро-ветрозащитная диффузионная мембрана: Jutavek 115
												li Подшивка карнизов кровли перфорированными панелями (софитами) Docke
												li Водосточная система Docke
											.d-flex
												img(src="assets/images/finishing/img5.png" alt="")
												ol
													li Гидроизоляция Jutavek 115 производства Чехии
													li Металлочерепица 0,5 мм
													li Утепление минеральной ватой 200 мм
													li Обрешётка
													li Пароизоляционная мембрана Jutafol H96 производства Чехии
													li Стропила из усиленной доски сечением 50*200 мм
								.accordion-item
									h2.accordion-header#flush-heading-7
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-7" aria-expanded="false" aria-controls="flush-collapse-7") Тепло- и шумоизоляция
									.accordion-collapse.collapse#flush-collapse-7(aria-labelledby="flush-heading-7" data-bs-parent="#accordion2")
										.accordion-body
											ul
												li Наружные стены: экологически чистый плитный базальтовый утеплитель Paroc EXTRA или ROCKWOOL ЛАЙТ БАТТС в 4 слоя (150 мм + 50 мм) с применением перекрёстного утепления
												li Межкомнатные перегородки и межэтажное перекрытие: экологически чистый плитный базальтовый утеплитель Paroc EXTRA или ROCKWOOL ЛАЙТ БАТТС в 2 слоя (100 мм)
												li Полы первого этажа: экологически чистый плитный базальтовый утеплитель Paroc EXTRA или ROCKWOOL ЛАЙТ БАТТС в 4 слоя (200 мм)
												li Чердачное перекрытие: экологически чистый плитный базальтовый утеплитель Paroc EXTRA или ROCKWOOL ЛАЙТ БАТТС в 4 слоя (200 мм)
								.accordion-item
									h2.accordion-header#flush-heading-8
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-8" aria-expanded="false" aria-controls="flush-collapse-8") Наружная отделка фасада
									.accordion-collapse.collapse#flush-collapse-8(aria-labelledby="flush-heading-8" data-bs-parent="#accordion2")
										.accordion-body
											ul
												li Наружняя и внутренняя отделка стен сухой обшивочной доской - «имитация бруса» - толщиной 16 мм
												li Вентилируемый фасад: контробрешетка из бруса 35*35 или 45*45 мм
												li Отделка наружных и внутренних углов дома
												li Отделка внутренних и дверных проёмов
												li Монтируются крашеные оцинкованные отливы на цоколь по наружному периметру
											.d-flex
												img(src="assets/images/finishing/img8.jpg" alt="")
												ol
													li Имитация бруса
													li Деревянные наличники
													li Обшивка углов
													li Цокольный отлив
								.accordion-item
									h2.accordion-header#flush-heading-9
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-9" aria-expanded="false" aria-controls="flush-collapse-9") Внутренняя отделка стен
									.accordion-collapse.collapse#flush-collapse-9(aria-labelledby="flush-heading-9" data-bs-parent="#accordion2")
										.accordion-body
											ul
												li Внутренняя отделка стен сухой обшивочной доской - «имитация бруса» - толщиной 16 мм
												li Отделка деревянными уголками наружных и внутренних углов
												li Отделка плинтусами потолков, полов, углов комнат
											.d-flex
												img(src="assets/images/finishing/img9.png" alt="")
												ol
													li Потолочный плинтус
													li Наличники
													li Имитация бруса
													li Плинтус
								.accordion-item
									h2.accordion-header#flush-heading-10
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-10" aria-expanded="false" aria-controls="flush-collapse-10") Полы и потолки
									.accordion-collapse.collapse#flush-collapse-10(aria-labelledby="flush-heading-10" data-bs-parent="#accordion2")
										.accordion-body
											ul
												li Обвязка брус 150 мм (на сваи) - 25 мм обшивка + сетка — доска 200 мм — утеплитель Роквул 200 мм — плёнки — плиточный материал либо шпунтованная доска
												li Отделка потолков 1-го и 2-го этажей сухой обшивочной доской «евровагонка» класса А-B
												li Деревянный потолочный плинтус: галтель
								.accordion-item
									h2.accordion-header#flush-heading-11
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-11" aria-expanded="false" aria-controls="flush-collapse-11") Оконные конструкции
									.accordion-collapse.collapse#flush-collapse-11(aria-labelledby="flush-heading-11" data-bs-parent="#accordion2")
										.accordion-body
											ul
												li Оконные конструкции ПВХ REHAU Grazio, стандартных размеров. Толщина профиля 70 мм
												li 2-х камерный стеклопакет (3 стекла), 5-ти камерный профиль (цвет белый), противомоскитные сетки
												li Фурнитура: ROTO NT
												li Монтаж металлических оцинкованных подоконных отливов (цвет белый)
												li Установка ПВХ подоконников шириной 300 мм
												li Отделка оконных проёмов
												li Поворотно-откидная фурнитура
												li Москитная сетка
											.d-flex
												img(src="assets/images/finishing/img6.png" alt="")
												ol
													li Антимоскитная сетка
													li Двухкамерный стеклопакет
													li Поворотно-откидная фурнитура
													li Подоконные отливы
													li Подоконник
								.accordion-item
									h2.accordion-header#flush-heading-12
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-12" aria-expanded="false" aria-controls="flush-collapse-12") Входные и межкомнатные Двери
									.accordion-collapse.collapse#flush-collapse-12(aria-labelledby="flush-heading-12" data-bs-parent="#accordion2")
										.accordion-body
											ul
												li Входная металлическая дверь с зимним утеплением. Производство: Россия
												li 4-й класс взломостойкости. Толщина металла 1,5 мм, замковая часть 3 мм
												li Межкомнатные ламинированные двери с установкой петель, ручек и наличников
											.d-flex
												img(src="assets/images/finishing/img7.png" alt="")
												ol
													li Пробковый слой из коры дуба
													li Термоотражающий слой фольги в центре — эффект термоса
													li Высокая шумоизоляция
													li Профиль полотна 85 мм
								.accordion-item
									h2.accordion-header#flush-heading-13
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-13" aria-expanded="false" aria-controls="flush-collapse-13") Межэтажная лестница
									.accordion-collapse.collapse#flush-collapse-13(aria-labelledby="flush-heading-13" data-bs-parent="#accordion2")
										.accordion-body
											ul 
												li Монтаж лестницы
								.accordion-item
									h2.accordion-header#flush-heading-17
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-17" aria-expanded="false" aria-controls="flush-collapse-17") Инженерные коммуникации
									.accordion-collapse.collapse#flush-collapse-17(aria-labelledby="flush-heading-17" data-bs-parent="#accordion2")
										.accordion-body
											.d-flex.align-items-center
												img(src="assets/images/finishing/img10.png" alt="")
												p Электричество и электрооборудование
											.d-flex.align-items-center
												img(src="assets/images/finishing/img11.png" alt="")
												p Отопление
											.d-flex.align-items-center
												img(src="assets/images/finishing/img12.png" alt="")
												p Водоснабжение и водоотведение (канализация)
											.d-flex.align-items-center
												img(src="assets/images/finishing/img13.png" alt="")
												p Вентиляция
								.accordion-item
									h2.accordion-header#flush-heading-14
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-14" aria-expanded="false" aria-controls="flush-collapse-14") Поэтапная оплата
									.accordion-collapse.collapse#flush-collapse-14(aria-labelledby="flush-heading-14" data-bs-parent="#accordion2")
										.accordion-body
											ul
												li 60% — после подписания
												li 20% — примерно через 1–2 месяца
												li 20% — через 2–3 месяца с момента подписания договора подряда
								.accordion-item
									h2.accordion-header#flush-heading-15
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-15" aria-expanded="false" aria-controls="flush-collapse-15") Доставка
									.accordion-collapse.collapse#flush-collapse-15(aria-labelledby="flush-heading-15" data-bs-parent="#accordion2")
										.accordion-body
											ul 
												li Доставка по ЛО до 100 км от СПб
								.accordion-item
									h2.accordion-header#flush-heading-16
										button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-16" aria-expanded="false" aria-controls="flush-collapse-16") Гарантия
									.accordion-collapse.collapse#flush-collapse-16(aria-labelledby="flush-heading-16" data-bs-parent="#accordion2")
										.accordion-body
											ul 
												li 10 лет гарантия
	.contacts-block
		.container
			.row
				.col-12
					.block-title
						h2 КОНТАКТЫ
				.col-xl-3.col-6
					.single-contact-block
						.contact-title
							img(src="assets/images/map.png" alt="")
							h3 Адрес
						p г. Санкт-Петербург Малый проспект П.С. дом 5 литер Б офис 301–315
				.col-xl-3.col-6
					.single-contact-block
						.contact-title
							img(src="assets/images/phone.png" alt="")
							h3 Номер телефона
						a(href="tel:+79319686618") +7 (931) 968-66-18
						p c 9.00 до 18.00 без выходных
				.col-xl-3.col-6
					.single-contact-block
						.contact-title
							img(src="assets/images/mail.png" alt="")
							h3 Email
						a(href="mailto:alpine.home21@gmail.com") alpine.home21@gmail.com
				.col-xl-3.col-6
					.single-contact-block
						.contact-title
							img(src="assets/images/instagram.png" alt="")
							h3 Instagram
						a(href="") alpenbarn
	.map-block
		iframe(src="https://yandex.ru/map-widget/v1/-/CCUuNJGsDD" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;")
	.call-back-block(style="background-image: url('assets/images/img2.jpg');")
		.container
			.row.align-items-center
				.col-12.text-xl-center
					h2 ЗАКАЗАТЬ КОНСУЛЬТАЦИЮ
					p
						| Если вы не нашли подходящий вариант или хотите какое-то нестандартное решение, 
						br
						| то наши архитекторы разработают индивидуальный проект
					.call-back-form
						form
							.inline-form-group
								.form-group
									input.form-control(placeholder="Имя" name="your-name" id="your-name" required type="text")
								.form-group
									input.form-control(placeholder="Телефон" name="your-tel" id="your-tel" required type="tel")
								.form-group
									input.form-control(placeholder="Email" name="your-email" id="your-email" required type="email")
								.form-group
									button.btn.btn-primary.btn-big Оставить заявку