header.header-wrapper
	.container
		.row.align-items-end
			.col-xl-4.col-lg-3.col-6
				.logo-block
					a.logo(href="/")
						img(src="assets/images/logo.png", alt="logo")
					.city-block
						p г. Санкт-Петербург
			.col-xl-4.col-lg-6.d-none.d-lg-block
				.navmenu
					.menu-wrap
						.menu-sidebar
							ul.menu
								li.menu-item
									a(href='#about') О компании
								li.menu-item
									a(href='#projects') Проекты
								li.menu-item
									a(href='#contacts') Контакты
			.col-xl-4.col-lg-3.col-6
				.contacts-block
					a(href="tel:+79319686618")
						img(src="assets/images/icons/phone.svg", alt="phone")
						span +7 (931) 968-66-18
					a.d-xl-none(href="#")
						img(src="assets/images/icons/instagram.svg", alt="instagram")