head
	meta(charset='UTF-8')
	title Alpen Barn
	meta(name="description", content="")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.1/css/all.css")
	link(rel="stylesheet", href="assets/css/styles.css")
	link(rel="icon", type="image/x-icon", href="assets/images/favicon.png")