.main-slider-block {
	.main-slider {
		visibility: hidden;
		&.slick-initialized {
			visibility: visible;
		}
		.single-slide {
			height: 700px;
			position: relative;
			padding: 150px 0;
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
			.slider-info {
				position: relative;
				h1 {
					text-transform: uppercase;
					margin-bottom: 25px;
					color: $white;
				}
				p {
					font-style: normal;
					font-weight: normal;
					font-size: 33px;
					line-height: 130%;
					color: $white;
					margin-bottom: 40px;
					width: 100%;
					max-width: 890px;
				}
				a {

				}
			}
		}
		.slick-dots {
		    position: absolute;
		    bottom: 150px;
		    right: 100px;
		    padding: 0;
		    margin: 0;
		    display: flex;
		    align-items: center;
		    justify-content: flex-end;
		    list-style: none;
		    li {
		    	margin-left: 24px;
		    	&:first-child {
		    		margin-left: 0;
		    	}
		    	button {
		    		background-color: transparent;
		    		border-radius: 50%;
		    		font-size: 0;
		    		line-height: 0;
		    		padding: 0;
		    		width: 25px;
		    		height: 25px;
		    		border: 2px solid #FFFFFF;
		    	}
		    	&.slick-active {
		    		button {
			    		background-color: $white;
			    	}
		    	}
		    }
		}
	}
}
.block-title {
	margin-bottom: 80px;
	h2 {
		margin-bottom: 0;
		color: $main;
		text-transform: uppercase;
	}
}
.benefits-block {
	padding: 120px 0;
	.block-title {
		margin-bottom: 80px;
		h2 {
			margin-bottom: 0;
			color: $main;
			text-transform: uppercase;
		}
	}
	.single-benefit-block {
		margin-bottom: 120px;
		&:last-child {
			margin-bottom: 0;
		}
		h3 {
			text-transform: uppercase;
			color: $main;
			margin-bottom: 10px;
		}
		p {
			color: $main;
			margin-bottom: 0;
		}
	}
	.benefits-img {
		max-width: 667px;
		width: 100%;
		height: auto;
		margin: 0 auto;
	}
}
.about-block {
	padding-bottom: 120px;
	position: relative;
	.about-img {
		position: absolute;
		top: 144px;
		left: 0;
		width: 35%;
		max-width: 665px;
		height: auto;
		border-radius: 0px 20px 20px 0px;
	}
	.about-text {
		font-style: normal;
		font-weight: normal;
		font-size: 33px;
		line-height: 130%;
		color: $main;
		padding-left: 45px;
		p {
			font-style: normal;
			font-weight: normal;
			font-size: 33px;
			line-height: 130%;
			color: $main;
			margin-bottom: 45px;
		}
	}
	.count-block {
		width: 100%;
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		margin-top: 80px;
		.single-count {
			width: 25%;
			text-align: center;
			padding: 0 8px;
			span {
				font-style: normal;
				font-weight: bold;
				font-size: 144px;
				line-height: 169px;
				text-align: center;
				color: $brand;
			}
			p {
				font-style: normal;
				font-weight: normal;
				font-size: 33px;
				line-height: 130%;
				text-align: center;
				color: $main;
			}
		}
	}
}
.catalog-block {
	padding-bottom: 100px;
	.nav-pills {
		width: 100%;
    	justify-content: space-between;
		.nav-item {
			min-width: 180px;
			.nav-link {
				border: 2px solid $main;
				padding: 8px 25px;
				border-radius: 10px;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				line-height: 23px;
				text-align: center;
				color: $main;
				width: 100%;
				background-color: $white;
				&.active {
					border: 2px solid $brand;
					color: $brand;
					background-color: $white;
				}
			}
		}
	}
	.tab-content {
		margin-top: 100px;
		.tab-pane {
			.all-products {
				display: flex;
				align-items: stretch;
				width: 100%;
				flex-wrap: wrap;
				.single-product {
					width: calc(25% - 12px);
					margin-right: 16px;
					min-height: 500px;
					margin-bottom: 16px;
					border-radius: 20px;
					overflow: hidden;	
					&:nth-child(4n) {
						margin-right: 0;
					}	
					&:last-child {
						margin-right: 0;
					}			
					a {
						display: flex;
						align-items: center;
						justify-content: center;
						position: relative;
						width: 100%;
						height: 100%;
						text-decoration: none;
						img {
							position: absolute;
							top: 0;
							left: 0;
							border-radius: 20px;
							width: 100%;
							height: 100%;
							object-fit: cover;
							object-position: center;
						}
						.product-info {
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: flex-end;
							width: 100%;
							height: 100%;
							position: relative;
							padding: 30px 70px 40px;
							h3 {
								color: $white;
								margin-bottom: 16px;
							}
							.meta-data {
								display: flex;
								align-items: center;
								justify-content: space-between;
								width: 100%;
								margin-bottom: 32px;
								span {
									font-style: normal;
									font-weight: normal;
									font-size: 22px;
									line-height: 130%;
									color: $white;
								}
							}
							.btn {
								width: 100%;
								cursor: pointer;
								padding: 16px 70px;
								border-radius: 20px;
								font-weight: bold;
								border-width: 3px;
							}
						}
					}
				}
			}
		}
	}
}
.accordion-block {
	padding-bottom: 120px;
	.nav-pills {
		width: 100%;
    	justify-content: flex-start;
		.nav-item {
			min-width: 180px;
			margin-right: 16px;
			.nav-link {
				border: 2px solid $main;
				padding: 8px 25px;
				border-radius: 10px;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				line-height: 23px;
				text-align: center;
				color: $main;
				width: 100%;
				background-color: $white;
				&.active {
					border: 2px solid $brand;
					color: $brand;
					background-color: $white;
				}
			}
		}
	}
	.tab-content {
		margin-top: 80px;
		.tab-pane {
			.accordion {
				.accordion-item {
				    background-color: #fff;
				    border-bottom: 1px solid rgba(0,0,0,1);
				    &:first-child {
					    border-top: 1px solid rgba(0,0,0,1);
					}
					.accordion-button {
						font-style: normal;
						font-weight: bold;
						font-size: 33px;
						line-height: 39px;
						text-transform: uppercase;
						color: #000000;
						padding: 20px 1rem 40px;
						&:focus {
						    border-color: #000;
						    box-shadow: none;
						}
						&:not(.collapsed) {
						    color: #000000;
						    background-color:$white;
						    box-shadow: none;
						}
					}
				}
				.accordion-body {
					padding: 0;
					ul {
						margin-bottom: 40px;
						max-width: 75%;
						li {
							font-style: normal;
							font-weight: normal;
							font-size: 33px;
							line-height: 130%;
							color: #000000;
						}
					}
					img {
						max-width: 420px;
						height: auto;
						margin-bottom: 40px;
						margin-right: 16px;
					}
					ol {
						margin-bottom: 40px;
						li {
							font-style: normal;
							font-weight: normal;
							font-size: 22px;
							line-height: 130%;
							color: #000000;
						}
					}
					p {
						font-style: normal;
						font-weight: normal;
						font-size: 22px;
						line-height: 130%;
						color: #000000;
						margin-bottom: 0;
					}
					.align-items-center {
						margin-bottom: 15px;
						img {
							max-width: 100px;
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}
.contacts-block {
	margin-bottom: 60px;
	.single-contact-block {
		width: 100%;
		.contact-title {
			display: flex;
			align-items: center;
			width: 100%;
			margin-bottom: 8px;
			img {
				width: 25px;
				height: 25px;
				object-fit: contain;
				object-position: center;
				margin-right: 8px;
			}
			h3 {
				width: calc(100% - 33px);
				margin: 0;
				color: $main;
				text-transform: uppercase;
			}
		}
		p {
			font-style: normal;
			font-weight: normal;
			font-size: 22px;
			line-height: 130%;
			margin: 0;
			color: $main;
		}
		a {
			font-style: normal;
			font-weight: normal;
			font-size: 22px;
			line-height: 130%;
			margin: 0;
			color: $brand;
			text-decoration: underline;
			display: block;
		}
	}
}
.map-block {
	width: 100%;
	height: 350px;
	margin-bottom: 120px;
	iframe {
		width: 100%;
		height: 100%;
	}
}
.call-back-block {
	padding: 60px 0;
	margin-bottom: 120px;
	background-size: cover;
	background-position: center;
	h2 {
		text-align: center;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-bottom: 25px;
		position: relative;
	}
	p {
		font-style: normal;
		font-weight: normal;
		font-size: 33px;
		line-height: 130%;
		text-align: center;
		color: #FFFFFF;
		margin-bottom: 40px;
		position: relative;
	}
	.call-back-form {
		width: 100%;
		form {
			width: 100%;
			.inline-form-group {
				display: flex;
				align-items: stretch;
				justify-content: flex-start;
			}
			.form-group {
				margin: 0;
				width: calc(25% - 12px);
				margin-right: 16px;
				&:last-child {
					margin-right: 0;
				}
			}
			.form-control {
				background: #FFFFFF;
				border-radius: 20px;
				padding: 25px 16px;
				font-style: normal;
				font-weight: normal;
				font-size: 22px;
				line-height: 130%;
				color: $main;
				height: 80px;
			}
			.btn {
				width: 100%;
				height: 80px;
				border-radius: 20px;
				padding: 20px 40px;
			}
		}
	}
}
@media screen and (max-width: 1800px) {
	.catalog-block {
		.nav-pills {
			.nav-item {
			    min-width: 100px;
			}
		}
	}
}
@media screen and (max-width: 1680px) {
	.about-block {
		.about-text {
			p {
			    font-size: 30px;
			    margin-bottom: 40px;
			}
		}
		.count-block {
			.single-count {
				p {
					font-size: 30px;
				}
			}
		}
	}
	.catalog-block {
		.nav-pills {
			.nav-item {
			    min-width: 100px;
			    margin-bottom: 16px;
			}
		}
		.tab-content {
			.tab-pane {
				.all-products {
					.single-product {
						a {
							.product-info {
								padding: 30px 40px 40px;
							}
						}
					}
				}
			}
		}    
	}
	.contacts-block {
		.single-contact-block {
			p {
			    font-size: 20px;
			}
			a {
				font-size: 20px;
			}
		}
	}
	.benefits-block .benefits-img {
	    max-width: 550px;	    
	}
}
@media screen and (max-width: 1440px) {
	.about-block {
		.about-text {
			p {
			    font-size: 26px;
			    margin-bottom: 30px;
			}
		}
		.count-block {
			.single-count {
				span {
				    font-size: 110px;
				}
				p {
					font-size: 26px;
				}
			}
		}
	}
	.catalog-block {
		.nav-pills {
		    justify-content: flex-end;
		    .nav-item {
			    min-width: 180px;
			    margin-bottom: 15px;
			    margin-right: 15px;
			}
		}
	}
	.accordion-block {
		.tab-content {
			.tab-pane {
				.accordion {
					.accordion-body {
						ul {
						    max-width: 95%;
						}
					}
				}
			}
		}
	}
	.contacts-block {
		.single-contact-block {
			p {
			    font-size: 18px;
			}
			a {
			    font-size: 18px;
			}
		}
	}
}
@media screen and (max-width: 1360px) {
	.catalog-block {
		.tab-content {
			.tab-pane {
				.all-products {
					.single-product {
					    min-height: 420px;
					}
				}
			}
		}
	}
	.call-back-block {
		p {
			br {
				display: none;
			}
		}
	}
	.contacts-block {
		.single-contact-block {
			.contact-title {
				h3 {
					font-size: 23px;
				}
			}
			p {
			    font-size: 16px;
			}
			a {
			    font-size: 16px;
			}
		}
	}
}
@media screen and (max-width: 1280px) {
	
}
@media screen and (min-width: 1200px) {
	.all-products-tablet {
		display: none !important;
	}
}
@media screen and (max-width: 1199px) {
	.benefits-block {
		padding: 80px 0;
		.block-title {
		    margin-bottom: 40px;
		}
		.single-benefit-block {
		    margin-bottom: 25px;
		    &:last-child {
		    	margin-bottom: 25px;
		    }
		}
		.benefits-img {
		    margin-bottom: 40px;
		}
	}
	.block-title {
	    margin-bottom: 40px;
	}
	.main-slider-block {
		.main-slider {
			.single-slide {
			    height: 800px;
			    position: relative;
			    padding: 180px 0;
			}
		}
	}
	.about-block {
		padding-bottom: 80px;
		.about-img {
		    position: relative;
		    top: 0;
		    left: 0;
		    width: 100%;
		    max-width: 100%;
		    height: auto;
		    border-radius: 0;
		    margin-bottom: 25px;
		}
		.about-text {
		    padding-left: 0;
		    p {
			    font-size: 33px;
			    margin-bottom: 30px;
			}
		}
		.count-block {
		    margin-top: 10px;
		    flex-wrap: wrap;
		    .single-count {
			    width: 50%;
			    text-align: left;
			    padding: 0 15px 0 0;
			    span {
				    font-size: 144px;
				    text-align: left;
				}
				p {
				    font-size: 33px;
				    text-align: left;
				    margin-bottom: 25px;
				}
			}
		}
	}
	.catalog-block {
		padding-bottom: 80px;
		.nav-pills {
		    justify-content: flex-start;
		    margin: 25px 0 0;
		}
		.tab-content {
		    margin-top: 40px;
		    .tab-pane {
		    	.all-products-wrapper {
		    		width: 100%;
		    		overflow-x: auto;
		    	}
		    	.all-products {
		    		justify-content: flex-start;
				    white-space: nowrap;
				    overflow-x: auto;
		    		.single-product {
					    min-height: 500px;
					    width: 418px;
					    margin-right: 16px;
					    &:nth-child(4n) {
						    margin-right: 16px;
						}
					}
				}
			}
		}
	}
	.all-products-desktop {
		display: none !important;
	}
	.accordion-block {
		padding-bottom: 80px;
		.nav-pills {
		    margin-top: 40px;
		}
		.tab-content {
		    margin-top: 40px;
		    .tab-pane {
		    	.accordion {
		    		.accordion-item {
		    			.accordion-button {
						    padding: 16px 1rem 24px;
						}
					}
					.accordion-body {
						img {
						    max-width: 50%;
						    margin-bottom: 20px;
						    margin-right: 10px;
						}
					}
				}
			}
		}
	}
	.contacts-block {
	    margin-bottom: 15px;
	    .single-contact-block {
		    width: 100%;
		    padding: 0 10px 0 0;
		    margin-bottom: 25px;
		}
	}
	.map-block {
	    width: 100%;
	    height: 410px;
	    margin-bottom: 80px;
	}
	.call-back-block {
	    padding: 80px 0 65px;
	    margin-bottom: 80px;
	    h2 {
		    text-align: left;		    
		}
		p {
		    text-align: left;		    
		}
		.call-back-form {
			form {
				.inline-form-group {
				    flex-wrap: wrap;
				}
				.form-group {
				    width: calc(50% - 8px);
				    margin-right: 16px;
				    margin-bottom: 16px;
				    &:nth-child(2) {
				    	margin-right: 0;
				    }
				}
			}
		}
	}
}
@media screen and (min-width: 768px) {
	.all-products-mobile {
		display: none !important;
	}
}
@media screen and (max-width: 767px) {
	.main-slider-block {
		.main-slider {
			.single-slide {
			    height: 600px;
			    position: relative;
			    padding: 80px 0 100px;
			    .slider-info {
			    	p {
					    font-size: 24px;
					    margin-bottom: 25px;
					    max-width: 100%;
					}
				}
			}
			.slick-dots {
			    bottom: 30px;
			    right: 30px;
			}
		}
	}
	.benefits-block {
	    padding: 40px 0;
	    .block-title {
		    margin-bottom: 30px;
		}
	}
	.block-title {
	    margin-bottom: 30px;
	}
	.about-block {
		padding-bottom: 40px;
		.about-text {
			p {
			    font-size: 16px;
			    margin-bottom: 20px;
			}
		}
		.count-block {
			.single-count {
			    text-align: center;
			    padding: 0 15px;
			    span {
					font-size: 85px;
					line-height: 100px;
					text-align: center;
			    }
			    p {
			    	font-size: 16px;
			    	text-align: center;
			    }
			}
		}
	}
	.accordion-block {
		padding-bottom: 40px;
		.tab-content {
			.tab-pane {
				.accordion {
					.accordion-item {
						.accordion-button {
						    padding: 16px 1rem 16px;
						    font-size: 20px;
    						line-height: 30px;
						}
					}
					.accordion-body {
						ul {
							li {
							    font-size: 16px;
							    line-height: 120%;
							}
						}
						ol {
							li {
							    font-size: 14px;
							    line-height: 120%;
							}
						}
						.align-items-center {
							img {
							    max-width: 65px;
							    margin-bottom: 0;
							}
						}
						p {
							font-size: 16px;
							line-height: 120%;
						}
					}
				}
			}
		}
	}
	.map-block {
	    margin-bottom: 40px;
	}
	.call-back-block {
		padding: 25px 0 20px;
   		margin-bottom: 40px;
		p {
		    text-align: left;
		    font-size: 16px;
		}
		.call-back-form {
			form {
				.form-group {
				    width: 100%;
				    margin-right: 0;
				    margin-bottom: 16px;
				}
				.form-control {
				    font-size: 16px;
				    height: 45px;
				    padding: 10px 20px;
				    border-radius: 15px;
				}
				.btn {
				    width: 100%;
				    height: 45px;
				    padding: 10px 20px;
				    border-radius: 15px;
				}
			}
		}
	}
	.all-products-tablet {
		display: none !important;
	}
	.catalog-block {
		padding-bottom: 40px;
		.tab-content {
			margin-top: 10px;
			.tab-pane {
				.all-products {
					.single-product {
					    min-height: 160px;
					    width: 140px;
					    margin-right: 8px;
					    &:nth-child(4n) {
						    margin-right: 8px;
						}
					    a {
					    	.product-info {
							    padding: 17px 17px 25px;
							    h3 {
								    font-size: 14px;
								    line-height: 20px;
								}
								.meta-data {
								    margin-bottom: 0;
								    span {
									    font-size: 10px;
									    line-height: 120%;
									}
								}
							}
							.btn {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 576px) {
	.contacts-block {
		.single-contact-block {
			.contact-title {
				h3 {
				    font-size: 16px;
				    line-height: 20px;
				}
			}		
			p {
	    		font-size: 14px;
	    		line-height: 20px;
	    	}
	    }
	}
}
@media screen and (max-width: 320px) {
	.main-slider-block {
		.main-slider {
			.single-slide {
				height: 470px;
			    position: relative;
			    padding: 80px 0 100px;
				.slider-info {
					p {
					    font-size: 16px;
					}
					.btn {
						width: 100%;
					}
				}
			}
		}
	}
	.about-block {
		.count-block {
			.single-count {
				span {
				    font-size: 50px;
				    line-height: 80px;
				}
				p {
				    font-size: 15px;
				}
			}
		}
	}
	.catalog-block {
		.nav-pills {
			.nav-item {
			    min-width: 100px;
			    margin-bottom: 10px;
			    margin-right: 10px;
			    .nav-link {
				    padding: 5px 15px;
				    font-size: 12px;
				    line-height: 23px;				    
				}
			}
		}
	}
	.accordion-block {
		.nav-pills {
			.nav-item {
				min-width: 100px;
				margin-bottom: 10px;
			    margin-right: 10px;
				.nav-link {
					padding: 5px 15px;
				    font-size: 12px;
				    line-height: 23px;
				}
			}
		}
		.tab-content {
			.tab-pane {
				.accordion {
					.accordion-item {
						.accordion-button {
						    padding: 16px 10px 16px;
						    font-size: 14px;
						    line-height: 20px;
						}
					}
					.accordion-body {
						ul {
							margin-bottom: 20px;
							li {
							    font-size: 14px;
							    line-height: 120%;
							}
						}
						img {
							max-width: 100%;
							height: auto;
							margin-bottom: 20px;
							margin-right: 0;
						}
						ol {
							margin-bottom: 20px;
							li {
								font-size: 12px;
								line-height: 120%;
							}
						}
						p {
							font-size: 12px;
							line-height: 120%;
						}
						.d-flex {
							flex-wrap: wrap;
						}
						.align-items-center {
							margin-bottom: 15px;
							img {
								max-width: 60px;
								margin-bottom: 0;
								margin-right: 10px;
							}
							p {
								width: calc(100% - 70px);
							}
						}
					}
				}
			}
		}
	}
	.contacts-block {
		.single-contact-block {
			.contact-title {
				h3 {
				    font-size: 14px;
				    line-height: 20px;
				}
			}		
			p {
	    		font-size: 12px;
	    		line-height: 20px;
	    	}
	    	a {
	    		font-size: 12px;
	    		line-height: 20px;
	    	}
	    }
	}
}