.footer-wrapper {
	background: $dark;
	padding: 120px 0;
	@media screen and (max-width: 1199px) {
		padding: 20px 0 40px;
	}
	@media screen and (max-width: 767px) {
		//padding: 40px 0;
		//border-top: none;
	}
	.footer-logo {
		width: auto;
		margin: 0 0 40px;
		@media screen and (max-width: 1199px) {
			margin: 0 0 25px;
		}
		img {
			width: 180px;
			height: auto;
		}
	}	
	.copyright-block {
		margin: 0 0 25px;
		p {
			margin: 0;
			color: $white;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 23px;
		}
	}
	.text-block {
		@media screen and (max-width: 1199px) {
			display: none;
		}
		p {
			margin: 0;
			color: $white;
			font-style: normal;
			font-weight: normal;
			font-size: 22px;
			line-height: 130%;
		}
	}
	h5 {
		text-transform: uppercase;
		margin-bottom: 40px;
		color: $white;
		@media screen and (max-width: 1199px) {
			margin-bottom: 25px;
			width: 100%;
		}
	}
	.footer-menu-wrapper {
		width: 100%;
		padding: 0;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		margin-top: 32px;		
	}
	.footer-menu {	
		width: 50%;
		&:first-child {
			max-width: 250px;
		}
    	&:last-child {
			max-width: 400px;
		}
		ul {
			width: 100%;
			padding: 0;
			margin: 0;
			list-style: none;
			flex-direction: column;
			align-items: flex-start;
			li {
				margin-right: 0;
				margin-left: 0;
				margin-bottom: 25px;
				&:last-child {
					margin-right: 0;
					margin-bottom: 0;
				}
				a {
					font-style: normal;
					font-weight: normal;
					font-size: 20px;
					line-height: 23px;
					text-align: left;
					color: $white;
					text-decoration: none;
					transition: all 0.25s ease-in-out;
					&:hover {
						color: $brand;
					}

				}
			}
		}		
	}
	.double-menu {
		flex-direction: row !important;
		flex-wrap: wrap;
		justify-content: flex-start;
		text-align: left;
		li {
			width: 50%;
			text-align: left;
			a {
				justify-content: flex-start;
			}
		}
	}
	.footer-contacts-wrapper {
		width: 100%;
		margin-top: 32px;
		@media screen and (max-width: 1199px) {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}
	}
	.phone {
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		line-height: 26px;
		text-decoration: none;
		color: $white;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		text-align: left;
		margin-bottom: 25px;
		transition: all 0.25s ease-in-out;			
		span {

		}			
		img {
			width: 26px;
			height: 26px;
			margin-right: 16px;
		}	
		svg {
			width: 26px;
			height: 26px;
			margin-right: 16px;
			path {
				fill: $white;
				transition: all 0.25s ease-in-out;	
			}
		}	
		&:hover {
			color: $brand;
			svg {
				path {
					fill: $brand;
				}
			}	
		}
		@media screen and (max-width: 1199px) {
			order: 2;
			margin: 0 0 0 40px;
		}
	}
	.adress {
		@media screen and (max-width: 1199px) {
			display: none;
		}
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		line-height: 130%;
		color: $white;
		margin-bottom: 0;
		margin-bottom: 25px;
	}
	.social {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		li {
			margin-right: 40px;
			&:last-child {
				margin-right: 0;
			}
			a {
				img {
					width: 25px;
					height: 25px;
					object-fit: contain;
					object-position: center;
				}
				svg {
					width: 25px;
					height: 25px;
					path {
						fill: $white;
						transition: all 0.25s ease-in-out;	
					}
				}	
				&:hover {						
					svg {
						path {
							fill: $brand;
						}
					}	
				}
			}
		}
		@media screen and (max-width: 1199px) {
			order: 1;
		}
	}
}
@media screen and (max-width: 1679px) {
	.footer-wrapper {
		.text-block {
			p {
				font-size: 18px;
			}
		}
		.adress {
			font-size: 18px;
		}
	}
}
@media screen and (max-width: 1399px) {
	
}
@media screen and (max-width: 1300px) {
	.footer-wrapper {
		.footer-menu {
			&:first-child {
	    		max-width: 180px;
	    	}
	    	ul {
	    		li {
	    			a {
	    				font-size: 18px;
	    			}
	    		}
	    	}
	    }
	    .footer-menu-wrapper {
		    justify-content: space-evenly;
		}
	}
}
@media screen and (max-width: 1199px) {
	.footer-wrapper {
		.footer-menu {	
			max-width: 60% !important;	
			width: auto;
			min-width: 40%;	
	    	ul {
	    		li {
	    			a {
	    				font-size: 20px;
	    			}
	    		}
	    	}
	    }
	    .footer-menu-wrapper {
		    justify-content: flex-start;
		}
	}
}
@media screen and (max-width: 991px) {
	.footer-wrapper {
		.footer-contacts-wrapper {
		    margin-top: 30px;
		}
		.footer-menu-wrapper {
		    margin-top: 24px;
		}
		.social {
		    width: 100%;
		    justify-content: flex-end;
		    li {
			    margin-right: 20px;
			}
		}
		.copyright-block {
		    margin: 25px 0 0;
		}
	}
}
@media screen and (max-width: 575px) {
	.footer-wrapper {
		.footer-menu {	
			max-width: 65% !important;	
			width: auto;
			min-width: 35%;
			ul {
				li {
				    margin-bottom: 16px;
				    a {
				    	font-size: 16px;
				    }
				}
			}
		}
	}
}
@media screen and (max-width: 320px) {
	.footer-wrapper {
		.footer-logo {
			img {
			    width: 130px;
			    height: auto;
			}
		}
		.footer-contacts-wrapper {
		    margin-top: 15px;
		}
		.footer-menu {
			ul {
				li {
					margin-bottom: 10px;
					a {
					    font-size: 12px;
					}
				}
			}
		}
		.copyright-block {
			p {
			    font-size: 14px;
			    line-height: 18px;
			}
		}
	}
}