.header-wrapper {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #FFFFFF;
	box-shadow: none;
	padding: 0;
	z-index: 10;
	transition: all .25s ease-in-out;
	padding: 40px 0 24px;
	a {
		transition: all .25s ease-in-out;
		&:hover {
			color: $brand;
		}
	}
	&.header-sticky {
		box-shadow: 0px 10px 50px rgba(133, 143, 164, 0.05);
	}
	.logo-block {
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;
		a {
			text-decoration: none;
		}
		.logo {
			img {
				width: 180px;
				height: auto;
			}
		}
		.city-block {
			margin-left: 40px;
			p {
				margin-bottom: 0;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				line-height: 23px;
			}
		}		
	}
	.navmenu {

	}
	.contacts-block {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-end;
		width: 100%;
		text-align: right;
		margin-bottom: 0;
		a {
			font-style: normal;
			font-weight: bold;
			font-size: 22px;
			line-height: 26px;
			text-decoration: none;
			color: $brand;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			text-align: right;
			span {

			}
			&:hover {
				opacity: .7;
			}
			img {
				width: 26px;
				height: 26px;
				margin-right: 16px;
			}			
		}
	}	
}
@media screen and (max-width: 1680px) {
	.header-wrapper {
		.logo-block {
			.city-block {
			    margin-left: 20px;
			}
			.logo {
				img {
				    width: 170px;
				}
			}
		}
	}
}
@media screen and (max-width: 1400px) {
	.header-wrapper {
		.logo-block {
			.logo {
				img {
					width: 160px;
				}
			}	
		}		
	}	
}
@media screen and (max-width: 1300px) {
	.header-wrapper {
		.logo-block {
			.logo {
				img {
					width: 150px;
				}
			}
			.city-block {
			    p {
			    	font-size: 18px;
					line-height: 21px;
			    }
			}	
		}	
		.contacts-block {
			a {
				font-size: 18px;
				line-height: 21px;
			}
		}	
	}	
}
@media screen and (max-width: 1199px) {
	.header-wrapper {
		.logo-block {
			.city-block {
			    display: none;
			}
		}
		.contacts-block {
		    flex-direction: row;
		    align-items: center;
		    a {
		    	margin-left: 40px;
		    	&:first-child {
		    		margin-left: 0;
		    	}
		    	span {
		    		display: none;
		    	}
		    	img {
		    		margin-right: 0;
		    	}
		    }
		}
	}
}
@media screen and (max-width: 991px) {
	.header-wrapper {
		padding: 16px 0 20px;
	}
}
@media screen and (max-width: 320px) {
	.header-wrapper {
		.contacts-block {
			a {
	    		margin-left: 30px;
	    	}
	    }
	}
}