.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
.toggle-button {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    transition: .25s;
    border-left: 1px solid #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    &:hover {
        cursor: pointer;
    }
    .menu-bar {
        border-radius: 1px;
        width: 24px;
        height: 2px;
        transition: .5s;
        background-color: $brand;
        margin-bottom: 6px;
    }
    .menu-bar-top {
        
    }
    .menu-bar-middle {
        
    }
    .menu-bar-bottom {
        margin-bottom: 0;
    }
}
.button-open {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 11;
    .menu-bar {
        width: 35px;
    }
    .menu-bar-top {
        transform: rotate(45deg) translate(5px, 5px);
        transition: .5s;
    }
    .menu-bar-middle {
        transform: translate(230px);
        transition: .1s ease-in;
        opacity: 0;
    }
    .menu-bar-bottom {
        transform: rotate(-45deg) translate(6px, -7px);
        transition: .5s;
    }
}
@media (min-width: 992px) {    
    .menu {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        li {            
            margin: 0 80px 0 0; 
            position: relative; 
            &:last-child {
                margin: 0;
            }          
            a {
                display: flex;
                align-items: flex-end;
                justify-content: center;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;
                color: $main;
                text-decoration: none;
                position: relative;
                transition: all .25s ease; 
                text-align: center;               
                &:hover {
                    color: $brand;    
                    text-decoration: none;                
                }
            }            
            &.current-menu-item {
                a {
                    color: $brand;
                    &:after {
                        color: $brand; 
                    } 
                }
            }                       
        }
    }
    .toggle-button {
        display: none;
    }
}
@media screen and (max-width: 1680px) {
    .menu {
        li {
            margin: 0 70px 0 0;
            &:last-child {
                margin: 0;
            }
        }
    }
}
@media screen and (max-width: 1399px) {
    .menu {
        li {
            margin: 0 60px 0 0;
            &:last-child {
                margin: 0;
            }
        }
    }
}
@media screen and (max-width: 1300px) {
    .menu {
        li {
            margin: 0 50px 0 0;
            &:last-child {
                margin: 0;
            }
            a {
                font-size: 18px;
                line-height: 21px;
            }
        }
    }
}
@media (max-width: 991px) {
    .menu-wrap {
        background-color: $white;
        position: fixed;
        top: 60px;
        height: calc(100% - 60px);
        width: 100%;
        right: -100%;
        overflow-x: hidden;
        overflow-y: auto;
        transition: .25s;
        z-index: 10;
    }
    .menu-show {
        right: 0;
    }
    .menu-sidebar {
        margin: 0;
        padding: 30px 15px;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;  
        .menu { 
            padding: 0;
            margin: 0 0 30px;
            list-style: none;
            width: 100%;  
            display: flex;  
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            li {
                margin: 0 0 10px;
                padding: 0;
                width: 50%;
                a {
                    text-align: left;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 21px;
                    color: $white;
                    text-decoration: none;                    
                    transition: all .25s ease;
                    &:after {
                        display: none;
                    }
                    &:hover {
                        color: $brand;                        
                    }
                }
                &:first-child {
                    order: 1;
                }
                &:nth-child(2) {
                    order: 3;
                }
                &:nth-child(3) {
                    order: 5;
                }
                &:nth-child(4) {
                    order: 7;
                }
                &:nth-child(5) {
                    order: 9;
                }
                &:nth-child(6) {
                    order: 2;
                }
                &:nth-child(7) {
                    order: 4;
                }
                &:nth-child(8) {
                    order: 6;
                }
                &:nth-child(9) {
                    order: 8;
                }
                &:last-child {
                    order: 10;
                }
                .sub-menu {
                    display: none;
                }
            }              
        } 
        .dop-menu-block-mobile {
            width: 100%;
            margin-bottom: 35px;
            .menu {
                width: 100%;
                padding: 0;
                margin: 0;
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                li {
                    margin: 0 0 10px;
                    padding: 0;
                    order: inherit !important;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    a {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 18px;
                        text-decoration-line: underline;
                        color: $white;
                        opacity: .7;
                    }
                }
            }
        } 
        .contacts-block {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            flex-wrap: wrap;
            .contacts-single-block {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                a {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 21px;
                    color: $white;
                    text-decoration: none;
                    margin-bottom: 15px;
                    &.email {
                        font-size: 16px;
                        line-height: 21px;
                        text-decoration-line: underline;
                        color: $brand;
                    }
                }
            }
        }    
    }
}