//- index.pug
doctype html
html(lang="ru")
	//- Include head
	include ./templates/head.pug  
	body
		include ./templates/header.pug

		//- Include content
		include ./templates/content.pug        

		//- Include footer
		include ./templates/footer.pug