//- index.pug
doctype html
html(lang="ru")
    //- Include head
    include ./templates/head.pug
    body
        //- Include header
        include ./templates/header.pug

        main
        	.top-project-part
        		.back-button
        			a(href="#")
        				img(src="assets/images/icons/back.svg" alt="slide1")
        				h1 Alpen barn 61
	            //- Include breadcrumbs
	            include ./templates/breadcrumbs.pug

            .page-content
                .container
                    .row
                        .col-12
                            .page-title
                                h1 Заголовок
                    .row
                        .col-12
                            .main-page-content
                                p Содержимое страницы
                                ul
                                    li
                                        | пункт 1
                                    li
                                        | пункт 2
                                    li
                                        | пункт 3
                                    li
                                        | пункт 4
                                    li
                                        | пункт 5
                                    li
                                        | пункт 6
                                    li
                                        | пункт 7
        //- Include footer
        include ./templates/footer.pug