.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	border: none;
	min-height: 40px;
	padding: 9px 20px;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
	box-shadow: none;
	text-align: center;
	outline: none;
}
.btn-big {
	border-radius: 20px;
	padding: 20px 70px;
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	line-height: 39px;
	@media screen and (max-width: 1680px) {
		font-size: 26px;
		line-height: 39px;
	}
	@media screen and (max-width: 1440px) {
		font-size: 26px;
		line-height: 33px;
	}
	@media screen and (max-width: 1280px) {
		font-size: 23px;
	}
	@media screen and (max-width: 767px) {
		font-size: 18px;
		padding: 10px 50px;
	}
	@media screen and (max-width: 320px) {
		font-size: 16px;
		padding: 7px 40px;
	}
}
.btn-primary {
	color: $white;
    background-color: $brand;
    border: 2px solid transparent;
    box-shadow: none;
    &:hover {
    	color: $brand;
	    background-color: transparent;
	    border: 2px solid $brand;
	    box-shadow: none;
    }
    &:active {
    	color: $white;
	    background-color: $brand;
	    border: 2px solid transparent;
	    box-shadow: none;
    }
    &:focus {
    	color: $brand;
	    background-color: transparent;
	    border: 2px solid $brand;
	    box-shadow: none;
    }
}
.btn-white {
	color: $white;
    background-color: transparent;
    border: 2px solid $white;
    box-shadow: none;
    &:hover {
    	color: $main;
	    background-color: $brand;
	    border: 2px solid $brand;
	    box-shadow: none;
    }
    &:active {
    	color: $main;
	    background-color: $brand;
	    border: 2px solid $brand;
	    box-shadow: none;
    }
    &:focus {
    	color: $main;
	    background-color: $brand;
	    border: 2px solid $brand;   
	    box-shadow: none;	
    }
}
.btn-black {
	color: $main;
    background-color: transparent;
    border: 2px solid $main;
    box-shadow: none;
    &:hover {
    	color: $brand;
	    background-color: transparent;
	    border: 2px solid $brand;
	    box-shadow: none;
    }
    &:active {
    	color: $brand;
	    background-color: transparent;
	    border: 2px solid $brand;
	    box-shadow: none;
    }
    &:focus {
    	color: $brand;
	    background-color: transparent;
	    border: 2px solid $brand;  
	    box-shadow: none; 	
    }
}