input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  	color: #2D232F;
}
input::-moz-placeholder { /* Firefox 19+ */
  	color: #2D232F;
}
input:-ms-input-placeholder { /* IE 10+ */
  	color: #2D232F;
}
input:-moz-placeholder { /* Firefox 18- */
  	color: #2D232F;
}