html {
    height: 100%;
    overflow-x:hidden;
    @media screen and (max-width: 767px) {
        width: 100%;   
        overflow-x: hidden;
        overflow-y: auto;
    }    
}
body {
    width: 100%;
    min-height: 100%;
    margin: 0px; 
    padding: 0px; 
    overflow-x: hidden;
    overflow-y: auto; 
    position: relative;  
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    color: $main;
    font-family: 'Roboto', sans-serif;
    color: $main;
}
.scrollup {
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 210px;
    right: 30px;
    display: none;
    z-index: 999999;
    background: #2d232f url('../images/gototop.svg') no-repeat;    
    background-size: 100%;  
    border: 1px solid #2d232f;
    border-radius: 50%;
    overflow: hidden;
}
main {
    flex-grow: 1; 
    padding-top: 118px;
    @media screen and (max-width: 991px) {
        padding-top: 79px;
    }
}
header, main, footer {
    flex-shrink: 0; 
}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1180px;
    }
    .text-xl-center {
        text-align: center !important;
    }
}
@media (min-width: 1300px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1280px;
    }
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1380px;
    }    
}
@media (min-width: 1680px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1580px;
    }
}
@media (min-width: 1800px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1720px;
    }
}