h1, .h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	line-height: 64px;
	@media screen and (max-width: 767px) {
		font-size: 36px;
		line-height: 46px;
	}
	@media screen and (max-width: 1199px) {
		font-size: 55px;
		line-height: 64px;
	}
	@media screen and (max-width: 767px) {
		font-size: 34px;
		line-height: 38px;
	}
	@media screen and (max-width: 575px) {
		font-size: 24px;
		line-height: 28px;
	}
}
h2, .h2 {
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	line-height: 64px;
	@media screen and (max-width: 1800px) {
		font-size: 50px;
		line-height: 60px;
	}
	@media screen and (max-width: 1680px) {
		font-size: 45px;
		line-height: 55px;
	}
	@media screen and (max-width: 1440px) {
		font-size: 45px;
		line-height: 55px;
	}
	@media screen and (max-width: 1199px) {
		font-size: 55px;
		line-height: 64px;
	}
	@media screen and (max-width: 767px) {
		font-size: 24px;
		line-height: 30px;
	}
	@media screen and (max-width: 575px) {
		font-size: 24px;
		line-height: 28px;
	}
}
h3, .h3 {
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	line-height: 39px;
	@media screen and (max-width: 1800px) {
		font-size: 30px;
	}
	@media screen and (max-width: 1680px) {
		font-size: 28px;
	}
	@media screen and (max-width: 1440px) {
		font-size: 26px;
	}
	@media screen and (max-width: 1199px) {
		font-size: 30px;
		line-height: 36px;
	}
	@media screen and (max-width: 767px) {
		font-size: 20px;
		line-height: 30px;
	}
	@media screen and (max-width: 575px) {
		
	}
	@media screen and (max-width: 320px) {
		
	}
}
h4, .h4 {
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	letter-spacing: 0.05em;
	@media screen and (max-width: 767px) {
		
	}
	@media screen and (max-width: 320px) {
		
	}
}
h5, .h5 {
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 26px;
	@media screen and (max-width: 767px) {
		
	}
	@media screen and (max-width: 320px) {
		font-size: 16px;
		line-height: 20px;
	}
}
p {
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 130%;
	@media screen and (max-width: 1679px) {
		font-size: 20px;
	}
	@media screen and (max-width: 767px) {
		font-size: 16px;
	}
	@media screen and (max-width: 575px) {
		
	}
	@media screen and (max-width: 320px) {
		
	}
}